@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito+Sans|Work+Sans');

.section__header {
    font-family: Montserrat;

    height: 670px;

    background: url('https://prodtest.mbsbooks.com/static-test/vbm/provider_imgs/0-og.jpg') no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.navbar-brand {
    margin-left: 7.3%;
}
.navbar-nav {
    font-size: 12px;
    font-weight: bold;

    margin-right: 7.3%;
}
.nav-link {
    color: #000;
}
.nav-link:hover {
    color: #2dcdc8;
}
.navbar-fixed-top.scrolled {
    -webkit-transition: background-color 200ms linear;
         -o-transition: background-color 200ms linear;
            transition: background-color 200ms linear;

    background-color: #fff !important;
}
.navbar-fixed-top.scrolled .nav-link {
    color: #555;
}
h1 {
    font-family: Montserrat;
    font-size: 38px;
    font-weight: bold;
}
.h1_sm {
    font-size: 30px;
}

.btn__teel,
.btn__teel:visited,
.btn__teel:focus {
    font-size: 12px;

    width: 180px;
    height: 55px;

    -webkit-border-radius: 0;
            border-radius: 0;
    background: #10c9c3;
}

.btn__teel:hover {
    -webkit-box-shadow: 0 0 5px #10c9c3;
            box-shadow: 0 0 5px #10c9c3;
}
.section__about-us {
    height: 420px;
}
.section__skills {
    font-family: Montserrat;

    height: 570px;

    background: url(http://arga-mag.com/file/img/2016/12/Letter-Sample-for-office-11.jpg) no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.skills__text {
    font-size: 12px;
}
.section__statistic {
    height: 240px;

    background: #10c9c3;
}
.text-digital {
    font-size: 18px;
}
.work__img_hover:hover {
    -webkit-transition: all .2s linear .05s;
         -o-transition: all .2s linear .05s;
            transition: all .2s linear .05s;

    -webkit-filter: brightness(20%);
            filter: brightness(20%);
}
.nav-item svg {
	display: none;
}
.secrion__services svg{
	font-size: 40px;
}

@media  screen and (max-width: 990px) {
    .work__img_hover {
    	height: 400px !important;
    }

	.nav-item svg {
		display: inline-block;
		margin-right: 10px;
	}
}

@media  screen and (max-width: 880px) {
	.section__header {
		height: 500px;
	}
    .section__skills {
        height: 400px;
    }
    .work__img_hover {
    	height: 300px !important;
    }
}

@media  screen and (max-width: 767px) {
    .section__statistic {
        height: 400px;
    }
}

@media  screen and (max-width: 654px) {
    .home__h1 {
        font-size: 1.8em;
    }
    .work__img_hover {
    	height: 260px !important;
    }
}

@media  screen and (max-width: 520px) {
    .home__h1 {
        font-size: 1.6em;
    }
    .home__p {
        font-size: 14px;
    }
	.btn__teel,
	.btn__teel:visited,
	.btn__teel:focus {
		width: 150px;
	}
	.section__skills {
		height: 320px;
	}
	.h1_sm {
		font-size: 20px;
	}
    .work__img_hover {
    	height: 230px !important;
    }
}

@media  screen and (max-width: 430px) {
	.section__header {
		height: 400px;
	}
    .home__h1 {
        font-size: 2.4em;
    }
    .home__p {
        display: none;
    } 
    .about__p {
    	font-size: .9em;
    }
    .work__img_hover {
    	height: 220px !important;
    }
}

@media  screen and (max-width: 380px) {
    .home__h1 {
        font-size: 1.8em;
    }
    .home__p {
        display: none;
    } 
	.btn__teel,
	.btn__teel:visited,
	.btn__teel:focus {
		width: 100px;
	}
    .work__img_hover {
    	height: 160px !important;
    }
}
